.animations {
  min-height: 100vh;

  .section-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    letter-spacing: -0.04rem;
    padding: 13rem 6.4rem 15rem;

    .sparkles {
      position: absolute;
      top: 10rem;
      left: 50%;
      transform: translateX(-52%);
    }

    .desc {
      font-size: 1.8rem;
      font-weight: 800;
      line-height: 150%;
      text-align: center;
    }
  }
  .videos-list {
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
    padding: 0 6.4rem 12.8rem;
    width: 100%;

    .video-card {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    .video-title {
      font-size: 2.4rem;
      font-weight: 800;
      text-align: center;
    }

    .video {
      width: 100%; /* Ocupa todo el ancho disponible */
      aspect-ratio: 16 / 9; /* Relación de aspecto estándar para videos */
      border: none; /* Elimina el borde predeterminado del iframe */
    }
  }
}
