.creator-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  padding: 0 6.4rem 0;
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    width: 100%;
    height: 100%;

    .floating-icons {
      width: 100%;
      height: 100%;
      position: absolute;
      pointer-events: none;

      .main-icon {
        position: absolute;
        top: 8rem;
        right: -2rem;
      }

      .rosedoodle-icon {
        top: 7rem;
        right: 0rem;
      }

      .shiabun-icon {
        top: 8rem;
        right: 0rem;
      }

      .aicandii-icon {
        top: 7rem;
        right: 0rem;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    height: 49.6rem;
    overflow: hidden;
    pointer-events: none;
  }

  &__portrait-container {
    position: relative;
    height: 49.6rem;
    width: 66rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .portrait-wrapper {
    width: 76.8rem;
    height: 135rem;
    position: relative;
  }

  &__portrait {
    position: absolute;
    top: 7.5rem;
    left: 50%;
    transform: translateX(-50%) scale(1.15);
    width: 100%;
    object-fit: contain;
  }

  &__background {
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 36.8rem;
    width: 100%;
    border-radius: 3.2rem;

    img {
      object-fit: none;
      height: 100%;
      width: 100%;
      border-radius: 3.2rem;
    }

    &.buffpup-background {
      background-color: var(--buffpup-orange);
    }
    &.shiabun-background {
      background-color: var(--shia-light-pink);
    }
    &.aicandii-background {
      background-color: var(--candi-purple);
    }
    &.rosedoodle-background {
      background-color: var(--rosedoodle-cyan);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
  }

  &__name {
    font-size: 6.4rem;
    font-weight: 900;
    font-family: var(--tommy);
    display: inline;
  }

  &__name.buffpup {
    color: var(--buffpup-dark-orange);
  }
  &__name.shiabun {
    color: var(--shia-dark-pink);
  }
  &__name.aicandii {
    color: var(--candi-dark-purple);
  }
  &__name.rosedoodle {
    color: var(--rosedoodle-dark-cyan);
  }

  &__socials {
    display: flex;
    gap: 1.6rem;
  }

  &__social {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      z-index: 1;
      pointer-events: none;
    }
    .bouncy-bg {
      z-index: 0;
    }

    &.twitch .bouncy-bg {
      background-color: var(--candi-purple);
    }
    &.youtube .bouncy-bg {
      background-color: var(--shia-dark-pink);
    }
    &.twitter .bouncy-bg {
      background-color: var(--header-link-hover);
    }
  }

  .excl-1,
  .excl-2 {
    position: absolute;
    z-index: -2;
  }
  .excl-1 {
    top: 4rem;
    left: 25rem;
  }
  .excl-2 {
    top: 3rem;
    right: 13rem;
  }
}
