.member-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 25.4rem 9.6rem 17rem;
  box-sizing: border-box;
  color: var(--light-text);

  @media screen and (max-width: 1320px) {
    padding: 16rem 6.4rem 80rem;
  }
  @media screen and (max-width: 810px) {
    padding: 16rem 2.4rem 80rem;
  }

  &.buffpup {
    background-color: var(--buffpup-orange);
    .portrait-wrapper {
      top: -0.5rem;
      right: -27rem;
      @media screen and (max-width: 1320px) {
        bottom: -72rem;
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &.aicandii {
    background-color: var(--candi-purple);
    .portrait-wrapper {
      top: 12rem;
      right: -20rem;
      @media screen and (max-width: 1320px) {
        bottom: -80rem;
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &.shiabun {
    background-color: var(--shia-light-pink);

    .portrait-wrapper {
      top: 15rem;
      right: -22rem;
      transform: scale(1.06);
      @media screen and (max-width: 1320px) {
        bottom: -78rem;
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &.rosedoodle {
    background-color: var(--rosedoodle-bg-dark-cyan);

    .portrait-wrapper {
      top: -9rem;
      right: -25rem;
      @media screen and (max-width: 1320px) {
        bottom: -60rem;
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .portrait-wrapper {
    position: absolute;
    width: 126rem;
    height: 203.2rem;
    pointer-events: none;
    z-index: 2;
    overflow: hidden;

    @media screen and (max-width: 1320px) {
      width: 100rem;
      height: 161.9rem;
    }

    .portrait {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .members-socials {
    .footer__socials {
      gap: 2rem;
    }
  }

  .members-info {
    width: 45%;
    z-index: 2;
    position: relative;
    @media screen and (max-width: 1320px) {
      width: 100%;
    }

    .back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1.8rem;
      font-weight: 800;
      margin-bottom: 6.4rem;
      @media screen and (max-width: 810px) {
        white-space: nowrap;
      }

      .back-svg {
        transform: rotate(180deg);
      }
      .back-svg path {
        stroke: var(--white);
      }
    }

    .members-name {
      position: relative;
      width: fit-content;

      h1 {
        font-family: var(--gilboys);
        font-size: 12.8rem;
        font-weight: 400;
        line-height: 90%;
        display: inline-block;

        @media screen and (max-width: 1320px) {
          font-size: 9.6rem;
        }
        @media screen and (max-width: 810px) {
          font-size: 6rem;
        }
      }
      .small-icon {
        position: absolute;
        bottom: 2rem;
        right: 6rem;
        @media screen and (max-width: 1320px) {
          scale: 0.8;
          bottom: 1rem;
          right: -7rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.5;
          bottom: -0.5rem;
          right: -4.5rem;
        }
      }
      .big-icon {
        position: absolute;
        top: -3rem;
        right: 10rem;

        @media screen and (max-width: 1320px) {
          scale: 0.8;
          top: -4.5rem;
          right: -4rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.5;
          top: -4.5rem;
          right: -3.5rem;
        }
      }
      .sparkles {
        position: absolute;
        top: -3rem;
        left: -3rem;
        @media screen and (max-width: 1320px) {
          scale: 0.8;
          top: -4rem;
          left: -8rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          top: -5rem;
          left: -13rem;
        }
      }

      &.shiabun .sparkles {
        top: -2rem;
        left: 0rem;
        @media screen and (max-width: 1320px) {
          scale: 0.75;
          top: -4rem;
          right: -1rem;
          left: unset;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          top: -5rem;
          left: -11rem;
        }
      }
      &.shiabun .big-icon {
        top: -2rem;
        right: -4rem;
        @media screen and (max-width: 1320px) {
          scale: 0.7;
          top: -3rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.4;
          top: -4rem;
        }
      }
      &.shiabun .small-icon {
        bottom: 3rem;
        right: -9rem;
        @media screen and (max-width: 1320px) {
          scale: 0.7;
          top: 2.5rem;
          right: -6.5rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.4;
          top: 0.5rem;
          right: -4.5rem;
        }
      }
      &.aicandii .sparkles {
        top: -1rem;
        left: -2rem;
        @media screen and (max-width: 1320px) {
          top: -2rem;
          left: -6rem;
        }
        @media screen and (max-width: 810px) {
          top: -3rem;
          left: -11rem;
        }
      }
      &.aicandii .big-icon {
        top: -3rem;
        right: -3rem;
        @media screen and (max-width: 1320px) {
          top: -3rem;
          right: -3rem;
        }
        @media screen and (max-width: 810px) {
          top: -4rem;
          right: -4rem;
          scale: 0.4;
        }
      }
      &.aicandii .small-icon {
        bottom: 3rem;
        right: -10rem;
        @media screen and (max-width: 1320px) {
          scale: 0.8;
          bottom: 2rem;
          right: -8rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          bottom: 0rem;
          right: -5rem;
        }
      }
      &.rosedoodle .small-icon {
        bottom: 2.5rem;
        right: -6.5rem;
        @media screen and (max-width: 1320px) {
          scale: 0.65;
          bottom: 2rem;
          right: -5rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          bottom: 0rem;
          right: -4rem;
        }
      }
      &.rosedoodle .big-icon {
        top: -3rem;
        right: -3rem;
        @media screen and (max-width: 1320px) {
          top: -4rem;
          scale: 0.65;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          top: -4rem;
          right: -3rem;
        }
      }
      &.rosedoodle .sparkles {
        @media screen and (max-width: 1320px) {
          scale: 0.75;
          bottom: 2rem;
          left: -10rem;
        }
        @media screen and (max-width: 810px) {
          scale: 0.45;
          top: -5rem;
          left: -20rem;
        }
      }
    }
    .description {
      font-size: 1.8rem;
      font-weight: 800;
      margin-bottom: 2.4rem;
      @media screen and (max-width: 1320px) {
        font-size: 1.6rem;
        margin: 1.8rem 0 2rem;
      }
    }

    .lore {
      margin-top: 9.6rem;
      width: fit-content;

      .lore__img-stack {
        position: relative;
        height: 23.6rem;
        width: 42rem;
        filter: drop-shadow(rgba(10, 5, 73, 0.24) 0px 16px 36px);

        @media screen and (max-width: 810px) {
          height: 16rem;
          width: 28rem;
        }

        .lore-1,
        .lore-2,
        .lore-3 {
          position: absolute;
          border-radius: 1.2rem;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-height: 23.6rem;
          min-width: 42rem;
          background-position: center;
          border-radius: 1.2rem;

          @media screen and (max-width: 810px) {
            max-height: 13.8rem;
            min-width: 24.6rem;
          }
        }
        .lore-1 {
          transform: rotate(-5deg);
        }
        .lore-2 {
          top: 1rem;
          left: 0.5rem;
          transform: rotate(2deg);
        }
        .lore-3 {
          top: 2rem;
          transform: rotate(-11deg);
        }
        .magnet {
          position: absolute;
          bottom: -4rem;
          left: 5rem;
          width: fit-content;
          height: fit-content;
          @media screen and (max-width: 810px) {
            bottom: -6rem;
            left: 4rem;
          }

          &.shiabun {
            left: -1rem;
            top: 14rem;
            @media screen and (max-width: 810px) {
              left: -2rem;
              top: 5rem;
            }
          }
          &.aicandii {
            right: 8rem;
            left: unset;
            top: -2rem;
          }
          &.rosedoodle {
            right: -2rem;
            left: unset;
            bottom: -1rem;
          }
        }
        .lore-arrow {
          position: absolute;
          top: 3rem;
          right: -12rem;
          @media screen and (max-width: 810px) {
            right: -6rem;
          }
        }
      }
    }

    .footer__socials {
      @media screen and (max-width: 810px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .backgroung-imgs {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg-icon {
      position: absolute;
      z-index: 0;
    }
    &.buffpup {
      .paw1 {
        top: -20%;
        right: -23%;
        @media screen and (max-width: 1320px) {
          right: -52rem;
          top: -12%;
        }
      }
      .paw2 {
        bottom: 7%;
        left: -14%;
        @media screen and (max-width: 1320px) {
          left: -36rem;
          bottom: 18%;
        }
      }
      .bone1 {
        top: -15%;
        left: 8%;
        @media screen and (max-width: 1320px) {
          top: -11%;
          left: -38%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
      .bone2 {
        bottom: -13%;
        right: -11%;
        @media screen and (max-width: 1320px) {
          top: unset;
          right: -70%;
          bottom: 10%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
    }
    &.shiabun {
      .spring1 {
        top: -14%;
        left: 0%;
        @media screen and (max-width: 1320px) {
          top: -11%;
          left: -45%;
        }
      }
      .spring2 {
        bottom: -32%;
        right: 0%;
        @media screen and (max-width: 1320px) {
          bottom: 4%;
          right: -45%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
      .bunny1 {
        top: -5%;
        right: 2%;
        @media screen and (max-width: 1320px) {
          top: -4%;
          right: -44%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
      .bunny2 {
        bottom: -24%;
        left: 5%;
        @media screen and (max-width: 1320px) {
          bottom: 8%;
          left: -35%;
        }
      }
    }
    &.aicandii {
      .flask1 {
        top: 8%;
        left: 35%;
        @media screen and (max-width: 1320px) {
          top: 6%;
          left: 26%;
        }
        @media screen and (max-width: 810px) {
          top: 10%;
          left: unset;
          right: -24%;
        }
      }
      .flask2 {
        bottom: -9%;
        right: 19%;
        @media screen and (max-width: 1320px) {
          bottom: 10%;
          right: -20%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
      .flask3 {
        bottom: -20%;
        left: 1%;
        @media screen and (max-width: 1320px) {
          bottom: 8%;
          left: -25%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
      .card1 {
        top: 10%;
        left: -12%;
        @media screen and (max-width: 1320px) {
          top: 8%;
          left: -49%;
        }
        @media screen and (max-width: 810px) {
          top: 7%;
          left: -110%;
        }
      }
      .card2 {
        top: 14%;
        right: -9%;
        @media screen and (max-width: 1320px) {
          top: 10%;
          right: -40%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
    }
    &.rosedoodle {
      .pencil1 {
        top: -5%;
        left: 0%;
        @media screen and (max-width: 1320px) {
          left: -10%;
        }
        @media screen and (max-width: 810px) {
          top: -3%;
          left: -25%;
        }
      }
      .pencil2 {
        top: 13%;
        right: 14%;
        @media screen and (max-width: 1320px) {
          top: 10%;
          right: -2%;
        }
        @media screen and (max-width: 810px) {
          top: 9%;
          right: -62%;
        }
      }
      .thingy {
        top: 18%;
        right: 43%;
        @media screen and (max-width: 1320px) {
          display: none;
        }
      }
      .icecream1 {
        bottom: -20%;
        left: -11%;
        @media screen and (max-width: 1320px) {
          bottom: -10%;
        }
        @media screen and (max-width: 810px) {
          bottom: -15%;
          left: 30%;
          scale: 1.5;
          transform: rotate(-10deg);
        }
      }
      .icecream2 {
        bottom: -18%;
        right: -16%;
        @media screen and (max-width: 1320px) {
          bottom: -10%;
        }
        @media screen and (max-width: 810px) {
          display: none;
        }
      }
    }
  }
}
