.main-icon {
  position: absolute;
  top: 8rem;
  right: 0rem;
  width: fit-content;
  height: fit-content;
  pointer-events: all;
  @media screen and (max-width: 810px) {
    top: 0rem;
    right: -6rem;
  }
}
