.main-icon {
  position: absolute;
  top: 8rem;
  right: 0rem;
  width: fit-content;
  height: fit-content;
}

.buff {
  position: absolute;
  top: 30%;
  left: 4%;
}
.candi {
  position: absolute;
  top: 18%;
  left: 15%;
}
.shia {
  position: absolute;
  top: 24%;
  right: 12%;
}
.rose {
  position: absolute;
  top: 42%;
  right: 4%;
}
