.header-section {
  padding: 10rem 6.4rem 10rem;

  .title-wrapper {
    position: relative;
  }

  .title {
    font-family: var(--gilboys);
    font-size: 12.7rem;
    line-height: 120%;
    color: var(--navy-blue-main);
    text-align: center;
  }

  .sparkles {
    position: absolute;
  }

  .preDescription {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 150%;
    text-align: center;
    padding-bottom: 6.4rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
    padding: 0 12.8rem;
  }

  &.banner {
    .title {
      line-height: 90%;
      font-size: 128px;
    }
    .sparkles {
      top: -4rem;
      left: 50%;
      transform: translateX(-48%);
    }
  }

  &.new-projects {
    padding: 0rem 6.4rem 0rem;

    .title {
      font-size: 9.8rem !important;
      line-height: 100%;
      margin-bottom: 1.5rem;
      span {
        font-size: 12.8rem;
      }
    }
    .sparkles {
      top: -2rem;
      left: 50%;
      transform: translateX(-43.5%);
    }
  }

  &.new-game-corner {
    padding: 0rem 6.4rem 0rem;
    .title {
      font-size: 9.6rem;
      line-height: 80%;
    }

    .sparkles {
      top: -2rem;
      left: 50%;
      transform: translateX(-49%);
    }
  }

  &.animation {
    .sparkles {
      top: -1rem;
      left: 50%;
      transform: translateX(-52%);
    }
  }

  &.events {
    .sparkles {
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.premier {
    padding: 0rem 6.4rem 6rem;

    .title {
      font-size: 9.6rem;
      line-height: 80%;
    }
    .sparkles {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-54%);
    }
  }

  &.brand {
    padding: 0rem;
    .title {
      line-height: 90%;
    }
  }

  &.legal {
    padding: 0rem;
    .title {
      line-height: 90%;
    }
  }

  &.our-family {
    padding: 12rem 6.4rem 10rem;

    .title {
      line-height: 110%;
    }

    .description {
      padding: 0 6.4rem;
      gap: 2rem;

      .stars span:first-child {
        color: var(--buffpup-dark-orange);
      }
      .stars span:nth-child(2) {
        color: var(--candi-dark-purple);
      }
      .stars span:nth-child(3) {
        color: var(--rosedoodle-dark-cyan);
      }
      .stars span:last-child {
        color: var(--shia-dark-pink);
      }
    }

    .sparkles {
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-51%);
    }
  }

  &.stardust-valley {
    padding: 0rem 6.4rem 0rem;
    .title {
      line-height: 110%;
      font-size: 9.6rem;
    }
    .sparkles {
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
