.spring-btn {
  position: relative;
  cursor: pointer;
  border-radius: 1.4rem;
  color: var(--navy-blue-main);
  font-size: 1.8rem;
  font-weight: 800;
  height: fit-content;

  &.game-corner {
    color: var(--white);
    font-weight: 600;
    width: 21.6rem;
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: space-between;

    .bouncy-bg {
      background-color: var(--navy-blue-main);
    }

    .chevron svg path {
      color: var(--white);
      stroke: var(--white);
    }

    .content,
    .chevron {
      pointer-events: none;
      z-index: 2;
    }
  }

  &.new-world {
    border: 0.2rem solid var(--white);
    padding: 0.8rem 1.6rem;
    width: 21.6rem;
  }

  .bouncy-bg {
    border-radius: 1.4rem;
    background-color: var(--rosedoodle-cyan);
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;

    .inside-excl-1,
    .inside-excl-2,
    .inside-excl-3 {
      position: absolute;

      .inside {
        transform: translateY(2px);
      }
      .btn-excl3.inside {
        transform: translate(2px, -4px);
      }
    }
  }

  .content-wrapper {
    white-space: nowrap;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.8rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1.6rem;

    .content,
    .second-icon,
    .first-icon {
      z-index: 2;
      pointer-events: none;
    }
    .first-icon {
      width: 2.4rem !important;
      height: 2.4rem !important;
    }
  }
}
.btn-excl1,
.btn-excl2,
.btn-excl3 {
  position: absolute;
  z-index: 1;
  transform: none;
  transform-origin: 50% 50% 0px;
}
.btn-excl1 {
  top: -1.25rem;
  left: -1.25rem;
}
.btn-excl2 {
  top: -2.75rem;
  right: 2rem;
}
.btn-excl3 {
  top: -2.25rem;
  right: -1.25rem;
  transform: rotate(3deg) scale(0.8);
}
