.game-corner {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--game-corner-bg);
  position: relative;

  @media screen and (max-width: 810px) {
    overflow: hidden;
  }

  .searchlight-1,
  .searchlight-2,
  .searchlight-3,
  .searchlight-4 {
    position: absolute;
  }

  .searchlight-1 {
    top: 8rem;
    left: -22rem;
    @media screen and (max-width: 810px) {
      top: -1rem;
      left: -34rem;
      transform: rotate(18deg);
    }
  }
  .searchlight-2 {
    top: -3.5rem;
    left: 6.5rem;
    transform: rotate(18deg);
    @media screen and (max-width: 810px) {
      display: none;
    }
  }
  .searchlight-3 {
    top: -4.5rem;
    right: 7rem;
    transform: rotate(55deg);
    @media screen and (max-width: 810px) {
      top: -2rem;
      right: -32rem;
    }
  }
  .searchlight-4 {
    top: 7rem;
    right: -21rem;
    transform: rotate(73deg);
    @media screen and (max-width: 810px) {
      display: none;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    padding: 12rem;
    text-align: center;
    @media screen and (max-width: 810px) {
      padding: 4rem 2rem;
    }

    .sanjis-eyebrow {
      position: absolute;
      @media screen and (max-width: 810px) {
        display: none;
      }

      &:nth-of-type(1) {
        top: 28%;
        left: 30%;
        z-index: 1;
      }

      &:nth-of-type(2) {
        top: 28%;
        right: 30%;
        z-index: 1;
      }
    }

    .separator {
      width: 100%;
      height: 0.8rem;

      div {
        background-image: url("https://framerusercontent.com/images/JXkOduR5EuNjdbCeVELMOAYAD8.svg");
        background-repeat: round;
        background-size: contain;
        height: 100%;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12.8rem;
    padding: 0 7rem 16.8rem;

    @media screen and (max-width: 810px) {
      padding: 4rem 2.4rem;
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 9.4rem;

      .game-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 6.4rem;

        .bg-img-gooba,
        .bg-img-oshi {
          max-width: 54rem;
          max-height: 29rem;
          border-radius: 1rem;

          @media screen and (max-width: 810px) {
            width: 100%;
            height: 100%;
          }
        }

        .oshi-animatronics {
          max-width: 125.6rem;
          max-height: 38rem;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          font-size: 1.8rem;
          font-weight: 800;
          line-height: 1.5;
          z-index: 1;
          @media screen and (max-width: 810px) {
            font-size: 1.6rem;
          }
        }
      }

      .banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
      }

      .img-carousel-wrapper {
        height: 50rem;
        width: 100%;
        position: relative;

        @media screen and (max-width: 810px) {
          height: 100%;
        }
      }

      .excl-1,
      .excl-2,
      .excl-3 {
        position: absolute;
        z-index: 0;
        @media screen and (max-width: 810px) {
          display: none;
        }
      }

      .excl-1 {
        top: -27.5rem;
        left: 1.5rem;
      }
      .excl-2 {
        top: -23rem;
        left: 22.5rem;
      }
      .excl-3 {
        top: -24rem;
        right: 6rem;
      }
    }
  }
}
