.new-world {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 15rem 6.4rem 18rem;
  position: relative;

  .event-list {
    display: flex;
    gap: 3.2rem;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .event-image {
      border-radius: 2.4rem;
      width: 67.6rem;
      height: 34rem;
      object-fit: cover;
    }

    .gooba-ball {
      position: relative;
    }
    .new-world {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .see-more-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 800;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        margin-left: 0.8rem;
      }
    }

    .event-title {
      font-size: 3.2rem;
      font-weight: 900;
      line-height: 150%;
      text-align: center;
      margin-top: 1.6rem;
    }
  }

  .spring-1,
  .spring-2,
  .star-1,
  .star-2,
  .star-3 {
    position: absolute;
    top: 0;
  }

  .spring-1 {
    top: 8.5rem;
    left: 4.5rem;
  }

  .spring-2 {
    top: 8rem;
    right: 10rem;
  }

  .star-1 {
    top: 8rem;
    left: 27rem;
    z-index: -1;
  }

  .star-2 {
    top: 28.5rem;
    right: 7rem;
  }

  .star-3 {
    top: 4rem;
    left: 34rem;
  }
}
