.new-world {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 15rem 6.4rem 18rem;
  position: relative;
  @media screen and (max-width: 1320px) {
    padding: 15rem 0rem 18rem;
    width: 100vw;
  }

  .event-list {
    display: flex;
    gap: 3.2rem;
    @media screen and (max-width: 1320px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  .event-card {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    @media screen and (max-width: 810px) {
      width: 100%;
    }

    .event-image {
      border-radius: 2.4rem;
      width: 67.6rem;
      height: 34rem;
      object-fit: cover;
      @media screen and (max-width: 810px) {
        width: 100%;
      }
    }

    .card {
      position: relative;
      width: fit-content;
      @media screen and (max-width: 810px) {
        width: 100%;
      }
    }
    .new-world {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .see-more-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 21.6rem;
      width: 100%;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 800;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      cursor: pointer;

      .bouncy-bg {
        border: 0.3rem solid var(--white);
      }

      .content-wrapper {
        padding: 0.8rem 1.6rem;
      }

      svg {
        margin-left: 0.8rem;
      }
    }

    .event-title {
      font-size: 3.2rem;
      font-weight: 900;
      line-height: 150%;
      text-align: center;
      margin-top: 1.6rem;
      @media screen and (max-width: 1320px) {
        font-size: 2.4rem;
      }
    }
  }

  .spring-1,
  .spring-2,
  .star-1,
  .star-2,
  .star-3 {
    position: absolute;
    top: 0;
  }

  .spring-1 {
    top: 8.5rem;
    left: 4.5rem;
    @media screen and (max-width: 1320px) {
      display: none;
    }
  }

  .spring-2 {
    top: 8rem;
    right: 10rem;
    @media screen and (max-width: 1320px) {
      display: none;
    }
  }

  .star-1 {
    top: 8rem;
    left: 27rem;
    z-index: -1;
    @media screen and (max-width: 1320px) {
      left: 0rem;
    }
    @media screen and (max-width: 810px) {
      left: -4rem;
    }
  }

  .star-2 {
    top: 28.5rem;
    right: 7rem;
    @media screen and (max-width: 1320px) {
      display: none;
    }
  }

  .star-3 {
    top: 4rem;
    left: 34rem;
    @media screen and (max-width: 1320px) {
      left: 9rem;
    }
    @media screen and (max-width: 810px) {
      left: 3rem;
    }
  }
}
