@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --foreground: #171717;
  --body-bg: #f9f9ed;
  --footer-bg: #e9e9d2;
  --light-text: #f9f9ed;
  --buffpup-orange: #ff9c45;
  --buffpup-dark-orange: #f0520e;
  --shia-light-pink: #ff78bc;
  --shia-dark-pink: #e30575;
  --candi-dark-purple: #7116cc;
  --candi-purple: #af67f7;
  --rosedoodle-dark-cyan: #1c8c84;
  --rosedoodle-cyan: #49d3af;
  --rosedoodle-bg-dark-cyan: #3fc3a5;
  --header-link-hover: #66b5f3;
  --game-corner-bg: #cde4ee;
  --navy-blue-main: #0a0549;
}

html {
  font-size: 10px;
}

body {
  color: var(--navy-blue-main);
  background-color: var(--body-bg);
  font-family: "Epilogue", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.navbar-dektop {
  display: block;
}
.navbar-mobile {
  display: none;
}
@media screen and (max-width: 810px) {
  body,
  html {
    width: fit-content;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--navy-blue-main);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--navy-blue-main);
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  clip-path: circle(0% at 50% 10%);
  animation: reveal 0.5s ease-in-out forwards;
}

@keyframes reveal {
  to {
    clip-path: circle(100% at 50% 10%);
  }
}
