@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-bg: #f9f9ed;
  --shia-light-pink: #ff78bc;
  --header-link-hover: #66b5f3;
}


html {
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--body-bg);
  font-family: 'Epilogue', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}