@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-bg: rgb(249, 249, 237)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d6e1c9;
    --foreground: #ededed;
  }
}

html {
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--body-bg);
  font-family: 'Epilogue', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}