.home {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  // position: relative;

  .banner {
    min-height: 102.4rem;
    background: linear-gradient(
      180deg,
      rgba(249, 249, 237, 1) 23%,
      rgba(255, 255, 255, 0) 100%
    );

    .title-container {
      width: fit-content;
      margin: 0 auto;
    }

    .section-title {
      position: relative;
      margin-top: 10rem;
    }

    .sparkles {
      position: absolute;
      top: -4rem;
      left: 1.5rem;
    }

    .members {
      position: relative;
      min-width: 102.4rem;
      width: 100%;
      height: auto;
      min-height: 500px;

      .star-container {
        position: absolute;
        height: fit-content;
        width: fit-content;
      }
      .star-container img {
        max-width: 800px !important;
        @media screen and (max-width: 1600px) {
          width: 800px !important;
          height: auto !important;
        }
      }
    }

    .buffpup {
      top: -22rem;
      left: -30%;
      transform: rotate(-6deg);
    }
    .aicandii {
      top: -8.5rem;
      left: -4%;
      transform: rotate(0deg);
    }
    .shiabun {
      top: -5.5rem;
      right: -2%;
      transform: rotate(2deg) scale(1.07);
    }
    .rosedoodle {
      top: -26rem;
      right: -32%;
      transform: rotate(8deg) scale(1.05);
      z-index: 3;
    }
  }
}
