.mobile-navbar {
  position: fixed;
  z-index: 12;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    color: var(--navy-blue-main);
    font-size: 3.6rem;
    font-weight: 900;
    height: 100%;
    padding-left: 2.5rem;
    background-color: var(--game-corner-bg);
    height: 100vh;

    .nav-header {
      padding: 2rem 2rem 0 0;
    }

    .excl1 {
      position: absolute;
      top: 13rem;
      left: 6rem;
      z-index: 11;
    }
    .excl2 {
      position: absolute;
      bottom: -4rem;
      right: -5rem;
      z-index: 11;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.2rem;
    width: fit-content;
    z-index: 13;

    li {
      position: relative;
      width: fit-content;
    }

    .notification {
      position: absolute;
      top: 0.5rem;
      right: -2rem;
      font-size: 1.6rem;
      color: var(--white);
      background-color: var(--candi-purple);
      padding: 0.2rem 1rem 0;
      border-radius: 0.6rem;
      line-height: 120%;
    }

    li:last-child {
      background-color: var(--shia-light-pink);
      color: var(--white);
      padding: 0.8rem 3.2rem;
      border-radius: 2rem;
    }
  }

  .logo {
    transform: scale(0.78);
    width: fit-content;
  }
}

.nav-header {
  display: flex;
  padding: 1rem 2rem 0 0;
  justify-content: space-between;
  align-items: center;

  .close-btn {
    background-color: var(--navy-blue-main);
    border-radius: 1.4rem;
    opacity: 1;
    will-change: transform;
    transform: none;
    padding: 0.8rem 3.2rem;
    height: fit-content;
  }
}
