.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  width: 98%;
  margin-top: 4.5rem;
  padding: 0 5rem;
  position: absolute;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.6rem;
  box-sizing: border-box;

  &.personal-pages {
    color: var(--white);

    &.buffpup .nav-link {
      .hover-motion.item-bg,
      .hover-motion.gc-bg,
      .family-notification,
      ::-webkit-scrollbar-track {
        background-color: var(--buffpup-dark-orange);
      }
    }
    &.aicandii .nav-link {
      .hover-motion.item-bg,
      .hover-motion.gc-bg,
      .family-notification {
        background-color: var(--candi-dark-purple);
      }
    }
    &.shiabun .nav-link {
      .hover-motion.item-bg,
      .hover-motion.gc-bg,
      .family-notification {
        background-color: var(--shia-dark-pink);
      }
    }
    &.rosedoodle .nav-link {
      .hover-motion.item-bg,
      .hover-motion.gc-bg,
      .family-notification {
        background-color: var(--rosedoodle-dark-cyan);
      }
    }
    .vchiban-logo-container svg path,
    .vchiban-logo-container svg ellipse {
      fill: var(--white);
    }
  }

  &.navbar-desktop {
    @media screen and (max-width: 1320px) {
      display: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    gap: 0rem;
    font-size: 1.8rem;
    font-weight: 800;
  }
  .nav-link {
    padding: 0.8rem 3.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .content-wrapper {
      z-index: 3;
      text-wrap: nowrap;
      pointer-events: none;
      white-space: nowrap;
      text-wrap: nowrap;
      display: flex;
      width: 100%;
      height: 100%;

      .content {
        z-index: 2;
        position: relative;
        pointer-events: none;
      }
    }

    .hover-motion {
      width: 100%;
      height: 100%;
      border-radius: 1.4rem;
      opacity: 0;
      transition: opacity 0.1s ease-in;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      &:hover {
        opacity: 1;
      }
      &:hover ~ .content-wrapper .family-notification {
        background-color: var(--navy-blue-main);
      }

      &.item-bg {
        background-color: var(--header-link-hover);
      }
      &.gc-bg {
        opacity: 1 !important;
        background-color: var(--shia-light-pink);
      }
    }
    .family-notification {
      z-index: 4;
      position: absolute;
      border-radius: 0.6rem;
      padding: 0.5rem 0.8rem 0.1rem;
      font-size: 1.2rem;
      background-color: var(--candi-purple);
      color: var(--white);
      line-height: 1.2rem;
      text-align: center;
    }
  }
  .vchiban-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gamer-btn {
    border-radius: 1.4rem;
    color: var(--body-bg);
    margin-left: 1rem;
  }

  .excl-mark {
    opacity: 1;
    position: absolute;
    z-index: 3;
    pointer-events: none;

    &.mark-1 {
      top: 2rem;
      left: -2.3rem;
    }
    &.mark-2 {
      left: -0.5rem;
      top: 0.6rem;
    }
    &.mark-3 {
      top: -0.3rem;
      right: 0;
    }
  }
}
