.navbar-placeholder {
  position: absolute;
}

.navbar-fixed {
  position: fixed;
  z-index: 20;
  width: 100%;

  .navbar {
    background-color: var(--navy-blue-main);
    color: var(--white);
    height: 8rem;

    .vchiban-logo-container svg {
      transform: scale(0.65);
    }
  }
}
