.footer {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 96px;
  max-width: 1512px;
  padding: 64px;
  width: 100%;
  background-color: var(--footer-bg);

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 150%;
    color: #908e9b;
    height: 36.4rem;
    width: 68.8rem;
    min-height: 36.4rem;
    min-width: 68.8rem;
    position: relative;

    &-copyright {
      position: absolute;
      bottom: 3rem;
      right: 13.5rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    gap: 6.4rem;

    &-groups {
      display: flex;
      gap: 6.4rem;
    }

    &-primary,
    &-secondary {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .footer__title {
        font-size: 2.4rem;
        font-weight: 900;
      }

      .footer__list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }

      .footer__link {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 800;
        gap: 0.8rem;

        svg {
          width: 3.3rem;
        }
      }
    }
  }

  &__socials {
    display: flex;
    flex: 1;
    gap: 2.4rem;
    margin-top: auto;

    .social {
      padding: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      background-color: var(--navy-blue-main);
      border-radius: 1.2rem;
    }

    .link svg {
      width: 3.3rem;
      height: 3.3rem;
    }
  }
}
