.img-carousel {
  position: relative;
  height: 50rem;
  width: 100%;

  img {
    border-radius: 1.6rem;
    width: 100%;
    height: 100%;
  }

  .img-wrapper {
    position: absolute;
    box-shadow: rgba(10, 5, 73, 0.24) 0px 48px 64px 0px;
    border-radius: 1.6rem;
    width: 100%;
    max-width: 78.6rem;
  }

  .img-wrapper:nth-child(1) {
    top: 0.5rem;
    z-index: 0;
    transform: translateX(-50%) rotate(-1deg);
  }
  .img-wrapper:nth-child(2) {
    top: 5.5rem;
    left: 50%;
    z-index: 0;
    transform: translateX(-49.5%);
  }
  .img-wrapper:nth-child(3) {
    top: 0.5rem;
    right: 0;
    z-index: 1;
    transform: translateX(49%) rotate(1deg);
  }
}
